{% extends "../base.html" %}
{% block title %}Log Match{% endblock title %}
{% block base_body %}
    {% load staticfiles %}
    <header><h1>Submit Match</h1></header>
    <section id="table">
        <div id="window"></div>
        <form action="/pong/match/" method="post">
            {% csrf_token %}
            <div id="team1" class="team">
                <div class="fieldWrapper server">
                    <div class="pongmark">
                        {{ form.starting_team.0.tag }}
                        <label for="{{ form.starting_team.0.id_for_label }}"></label>
                    </div>
                </div>
                <div class="fieldWrapper player">
                    {% if form.player_1A.errors %}<p>{{ form.player_1A.errors.as_text }}</p>{% endif %}

                    <div class="input">

                        {{ form.player_1A.label_tag }}
                        {{ form.player_1A }}
                    </div>
                </div>

                <div class="fieldWrapper player">
                    {% if form.player_1B.errors %}<p>{{ form.player_1B.errors.as_text }}</p>{% endif %}
                    <div class="input">

                        {{ form.player_1B.label_tag }}
                        {{ form.player_1B }}
                    </div>
                </div>

                <div class="fieldWrapper score">
                    <input type="button" style="background-image:url('{% static "pong/switch.svg" %}')" value=""
                           id="swapTeam1">
                    {% if form.team_1_Score.errors %}<p>{{ form.team_1_Score.errors.as_text }}</p>{% endif %}
                    <div class="input">
                        {{ form.team_1_Score.label_tag }}
                        {{ form.team_1_Score }}
                    </div>
                    <div class="increment">
                        <input type="button" style="background-image:url('{% static "pong/caret-arrow-up.svg" %}')"
                               value="" id="upTeam1">
                        <input type="button" style="background-image:url('{% static "pong/caret-arrow-up.svg" %}')"
                               value="" id="downTeam1">
                    </div>
                </div>
            </div>
            <hr>
            <div id="team2" class="team">
                <div class="fieldWrapper score">
                    <input type="button" style="background-image:url('{% static "pong/switch.svg" %}')" value=""
                           id="swapTeam2">
                    {% if form.team_2_Score.errors %}<p>{{ form.team_2_Score.errors.as_text }}</p>{% endif %}
                    <div class="input">

                        {{ form.team_2_Score.label_tag }}
                        {{ form.team_2_Score }}
                    </div>
                    <div class="increment">
                        <input type="button" style="background-image:url('{% static "pong/caret-arrow-up.svg" %}')"
                               value="" id="upTeam2">
                        <input type="button" style="background-image:url('{% static "pong/caret-arrow-up.svg" %}')"
                               value="" id="downTeam2">
                    </div>
                </div>
                <div class="fieldWrapper player">
                    {% if form.player_2B.errors %}<p>{{ form.player_2B.errors.as_text }}</p>{% endif %}
                    <div class="input">

                        {{ form.player_2B.label_tag }}
                        {{ form.player_2B }}
                    </div>
                </div>
                <div class="fieldWrapper player">
                    {% if form.player_2A.errors %}<p>{{ form.player_2A.errors.as_text }}</p>{% endif %}
                    <div class="input">

                        {{ form.player_2A.label_tag }}
                        {{ form.player_2A }}
                    </div>
                </div>
                <div class="fieldWrapper server">
                    <div class="pongmark">
                        {{ form.starting_team.1.tag }}
                        <label for="{{ form.starting_team.1.id_for_label }}"></label>
                    </div>
                </div>


            </div>
            <div id="wall">
                {{ form.non_field_errors.errors.as_text }}
                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                        {% for err in form.non_field_errors %}
                            <p class="form-error">{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="options">
                <input type="submit" name="Submit" value="Submit">
            </div>
            <div class="options">
                <input type="submit" name="Submit and Swap" value="& Swap">
                <input type="submit" name="Submit and Rotate" value="& Rotate">
                <input type="submit" name="Submit and Shuffle" value="& Shuffle">
            </div>
            <div class="options">
                <input type="button" value="Swap" id="swap">
                <input type="button" value="Rotate" id="rotate">

                <input type="button" value="Shuffle" id="shuffle">
            </div>
        </form>
    </section>
{% endblock base_body %}